<header>
    <a routerLink="/"><span class="logo">Project Rank</span></a>
    <nav>
        <ul class="nav-links">
            <li><a routerLink="/" routerLinkActive="active-link">Home</a></li>
            <li><a routerLink="/gallery" routerLinkActive="active-link">Gallery</a></li>
            <li><a routerLink="/schedules" routerLinkActive="active-link">Schedules</a></li>
            <li><a routerLink="/teams" routerLinkActive="active-link">Teams & Scores</a></li>
        </ul>
    </nav>
    <a class="nav-link" routerLink="/about-us"><button>About Us</button></a>
</header>

