<div class="main"> 
    <div class="container">
        <div class="main-head">GAME SCHEDULES</div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 game">
                <h3>Game 1</h3>
                <h6>December 12, 2019</h6>
                <h6>1:00 PM</h6>
            </div>
            <div class="col-xs-12 col-sm-3 team1">
                COB
                <h6>Team A</h6>
            </div>
            <div class="col-xs-12 col-sm-3 vs">vs</div>
            <div class="col-xs-12 col-sm-3 team2">
                CST
                <h6>Team A</h6>
            </div>
        </div>

        <div class="row">
                <div class="col-xs-12 col-sm-3 game">
                        <h3>Game 2</h3>
                        <h6>December 12, 2019</h6>
                        <h6>2:30 PM</h6>
                </div>
                <div class="col-xs-12 col-sm-3 team1">
                    CAH
                    <h6>Team B</h6>
                </div>
                <div class="col-xs-12 col-sm-3 vs">vs</div>
                <div class="col-xs-12 col-sm-3 team2">
                    CON
                    <h6>Team B</h6>
                </div>
            </div>

            <div class="row">
                    <div class="col-xs-12 col-sm-3 game">
                            <h3>Game 3</h3>
                            <h6>December 12, 2019</h6>
                            <h6>4:00 PM</h6>
                    </div>
                    <div class="col-xs-12 col-sm-3 team1">
                        COM
                        <h6>Team A</h6>
                    </div>
                    <div class="col-xs-12 col-sm-3 vs">vs</div>
                    <div class="col-xs-12 col-sm-3 team2">
                        COD
                        <h6>Team A</h6>
                    </div>
                </div>

                <div class="row">
                        <div class="col-xs-12 col-sm-3 game">
                                <h3>Game 4</h3>
                                <h6>December 12, 2019</h6>
                                <h6>5:30 PM</h6>
                        </div>
                        <div class="col-xs-12 col-sm-3 team1">
                            COE
                            <h6>Team B</h6>
                        </div>
                        <div class="col-xs-12 col-sm-3 vs">vs</div>
                        <div class="col-xs-12 col-sm-3 team2">
                            COB
                            <h6>Team B</h6>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-xs-12 col-sm-3 game">
                                    <h3>Game 5</h3>
                                    <h6>December 12, 2019</h6>
                                    <h6>7:00 PM</h6>
                            </div>
                            <div class="col-xs-12 col-sm-3 team1">
                                COB
                                <h6>Team A</h6>
                            </div>
                            <div class="col-xs-12 col-sm-3 vs">vs</div>
                            <div class="col-xs-12 col-sm-3 team2">
                                CON
                                <h6>Team A</h6>
                            </div>
                        </div>
     </div>
</div>     