@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat';
}




h1, h4{
    text-align: center;
    color: white;
    width: 100%;
}

h5 {
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
}

h6 {
    color: red;
    margin-left: 10px;
    margin-top: 5px;
}

.jumbotron {
    background-color: transparent; 
}

.jumbotron div {
    padding: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 3px solid #101351;
}

.card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    

    .card-header {
        background-color: #101351;
        color: white;
        text-align: center;
    }

    .mygame {

        .card-body {
            margin: 5px;
            display: grid;
            grid-template-columns: repeat(2, 40%);
            border: 1px solid rgba(74,0,251,1);
            width: 70%;
            height: 20%;
            justify-content: space-between;
            grid-row-gap: 15px;
            
            .team {

                display: grid;
                grid-template-rows: 20px 20px;
                .t1{
                    display: grid;
                    grid-template-columns: 40px auto;
                    margin-left: 10px;

                }

                .t2 {
                    display: grid;
                    grid-template-columns: 40px auto;
                    margin-left: 10px;

                }
            }
            
            .time {
                border-left: 1px gray solid;
            }
        }

        
    }
    
}

img {
    height: 40px;
    width: 40px;
}
