<div>
    <div class="container">
        <div class="row" id="headings">
            <img src="../../assets/background.png" alt="">
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Add Schedule</div>
                    <div class="panel-body">
                            <hr>
                            <label>Team 1</label>
                            <input type="text">
                            <br>
                            <h1>VS</h1>
                            <label>Team 2</label>
                            <input type="text">
                            <br>
                            <button class="btn form-contorl">Add Schedule</button> 
                    </div>
                </div>
                
            </div>
            <div class="col-sm-6">
                <h1>Game Play</h1>
            </div>
        </div>
    </div>
</div>