<ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
  <ng-template ngbSlide *ngFor="let say of quotes">
      <div class="center">
          <h6>" {{say.quote}} "</h6>
          <h6>-{{say.author}}</h6>
      </div>
  </ng-template>    
</ngb-carousel>


<aside>
  <h5>Game of Today</h5>
  <div class="schedule">
    <figure *ngFor="let gm of games">
      <h3>
        <img src="../../assets/Colleges/{{gm.image1}}">
        <h6>{{gm.team1}}</h6>
        <img src="../../assets/Colleges/{{gm.image2}}">
        <h6>{{gm.team2}}</h6>
        <h6>{{gm.time}}</h6>
      </h3>
    </figure>
  </div>
  <br>
</aside>
<br>
<aside>
  <h5>Game of Tomorrow</h5>
  <div class="schedule">
    <figure *ngFor="let gm of games">
      <h3>
        <img src="../../assets/Colleges/{{gm.image1}}">
        <h6>{{gm.team1}}</h6>
        <img src="../../assets/Colleges/{{gm.image2}}">
        <h6>{{gm.team2}}</h6>
        <h6>{{gm.time}}</h6>
      </h3>
    </figure>
  </div>
  <br>
</aside>