 <!-- About -->
 <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <br>
          <h2 class="section-heading text-uppercase">Gallery</h2>
          <h3 class="section-subheading text-muted">Sports Event.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="/../../assets/se.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <br>
                  <h4>Efren Bata Reyes</h4>
                  <h4 class="subheading">Philippine Representative in SEA GAMES</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">When I slept on the table, I dreamt about pool. I learned about pool from my dreams.</p>
                </div>
              </div>
            </li>
        
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="/../../assets/si.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Lebron James</h4>
                  <h4 class="subheading">Greatest Comeback</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted"> “I’m going to use all my tools, my God-given ability, and make the best life I can with it.”</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="/../../assets/su.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Cristiano Ronaldo</h4>
                  <h4 class="subheading">Win EURO 2016</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">“Your love makes me strong, your hate makes me unstoppable.”</p>
                </div>
              </div>
            </li>
            <!-- <li class="timeline-inverted">
              <div class="timeline-image">
                <h4> Be part
                  <br>
                  <br></h4>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </section>