@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    font-family: 'Montserrat';
    margin: 0;
    height: calc(100% - 2em);
}

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4a00fb+0,e600ff+100 */
    background: rgb(74,0,251); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(74,0,251,1) 0%, rgba(230,0,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(74,0,251,1) 0%,rgba(230,0,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(74,0,251,1) 0%,rgba(230,0,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a00fb', endColorstr='#e600ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

