@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


img {
    display: block;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 1px solid green;
}


button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

.center  {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid white;
    padding: 10px;
  }

  .center h1 {
      margin: auto;
      color: white;
  }

  .center h6 {
      color: white;
      font-weight: bold;
  }

